body{
    background-color: #000000;
    color: 	#7FFF00;
}
#navbar{
    display: flex;
}
#pfp{
    border-radius: 50%;
    height: 400px;
    width: 400px;
}
#top{
    display: flex;
    justify-content: center;
    height: 700px;
}
#burger{
    float: right;
}
p{
    font-family: 'VT323', monospace;
}
h1{
    font-family: 'Press Start 2P', cursive;
}
